$BackgroundDefault: #fafafa;
$BackgroundPaper: #fff;

$TextPrimary: rgba(0, 0, 0, 0.87);
$TextSecondary: rgba(0, 0, 0, 0.54);
$TextDisabled: rgba(0, 0, 0, 0.38);
$TextHint: rgba(0, 0, 0, 0.38);

$PrimaryMain: #004d40;
$PrimaryLight: #337066;
$PrimaryDark: #00352c;
$PrimaryText: #ffffff;

$SecondaryMain: #f50057;
$SecondaryLight: #f73378;
$SecondaryDark: #ab003c;
$SecondaryText: #ffffff;

$ErrorMain: #f44336;
$ErrorLight: #e57373;
$ErrorDark: #d32f2f;
$ErrorText: #ffffff;

$WarningMain: #ff9800;
$WarningLight: #ffb74d;
$WarningDark: #f57c00;
$WarningText: rgba(0, 0, 0, 0.87);

$InfoMain: #2196f3;
$InfoLight: #64b5f6;
$InfoDark: #1976d2;
$InfoText: #ffffff;

$SuccessMain: #4caf50;
$SuccessLight: #81c784;
$SuccessDark: #388e3c;
$SuccessText: rgba(0, 0, 0, 0.87);

$Divider: rgba(0, 0, 0, 0.12);

$Border: #e0e0e0;
$LogoText: $PrimaryText;
$SidebarBackground: $PrimaryMain;
$SidebarPrimaryText: $PrimaryText;
$SidebarSecondaryText: $PrimaryLight;
$TableBorder: $Border;
$TableBackground: $BackgroundPaper;
$HeaderBackground: $BackgroundPaper;
$HeaderDivider: $Border;
$PageBackground: $BackgroundDefault;
$CircularPreloader: white;
$SelectedMenuItem: rgba(255, 255, 255, 0.2);

/* $Red: #f96666;
$Black: #000;
$GreyMiddle: #646464;
$GreyIconBg: #e5e5e5;
$GreyIconBgDisabled: #eeeeee;
$White: #fff;
$LogBackground: #282828;
$CloudBackground: #fafafa;
$SidebarHover: #e5efff;
$AutocompleteChipBg: #e6f0fa;
$BlueButton: #2196f3;
$StatusPending: #9e9e9e;
$StatusFailed: #f44336;
$StatusWarning: #ffb547;
$StatusRunning: #7bc67e;
$StatusTerminating: #000000;
$SidebarText: $White;
$SidebarBackground: #323555;
$TabsBorderColor: #e9e9e9;
$FieldBorderColor: #e0e0e0;
$TextSecondary: #757575;
$LinkBlue: #0d47a1;
$SideMenuDivider: #565a77;
$StatusCreated: #27ae60;
$AlertInfoColor: #0d3c61;
$AlertInfoBgColor: #e8f4fd;
$LinkDarkColor: #064374;
$InfoIconColor: #ffb800;

$AlertInfoColor: #0d3c61;
$AlertInfoBgColor: #e8f4fd; */
